/* Colors' listing
orange : #FF6702;
orange (variante claire) : #FF9A55;
orange (variante sombre) : #CA5203;
orange (toujours plus sombre) : #662700;
bleu électrique : #009FFD;
bleu électrique (variante claire) : #3EC8FE;
bleu électrique (variante sombre) : #006DB2;
bleu électrique (toujours plus sombre) : #00426b;
police d'écriture (font) : Anton;
*/

body {
  font-family: 'Anton', sans-serif;
  background: linear-gradient(0.25turn, #009FFD -50%, #00426b 50%, #009FFD 150%);
}

header {
  height: 7.5rem;
}

header img {
  height:7.5rem;
}

footer {
  background-color: #00426b;
  border-top: ridge 4px;
  border-color: #CA5203;
}

.borderMatchUp {
  text-shadow: -2px 0 #662700, 0 2px #662700, 2px 0 #CA5203, 0 -2px #FF9A55;
}

.catchParameters {
  width: 60rem;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  line-height: 125%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Navbar related */
.navbarText {
  color: #FF6702;
  font-size: 1.5rem;
  text-shadow: -1px 0 #662700, 0 1px #662700, 1px 0 #CA5203, 0 -1px #FF9A55;
}

.orangeMU {
  color: #FF6702;
}

nav {
  background-color: #006DB2;
  border : 4px #CA5203;
  border-style: ridge;
  border-left: none;
  border-right: none;
}

nav a:hover {
  color: orange;
}

/* Changes when in mobile mode */
@media screen and (max-width: 900px){

  body .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    background-size: contain;
    border-bottom: none;
  }

  header {
    height: 5rem;
    display: flex;
    justify-content: center;
    background: radial-gradient(#009FFD, #00426b);
    border: 4px #CA5203;
    border-style: ridge;
    border-left: none;
    border-right: none;
    border-top: none;
  }
  header img {
    height: 5rem;
  }

  header h1 {
    display: none;
  }
}
/* Changes when in mobile mode */

.contentBackground {
  background-color: #00426b;
}

.card {
  border : 4px #CA5203;
  border-style: ridge;
  border-radius: 10px;
  max-height: 25rem;
  background: radial-gradient(#009FFD, #00426b);
  box-shadow: 3px 3px 3px 3px black;
}

.card img {
  max-height: 9rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-top: 1%;
  }

.card-text {
  max-height: 7rem;
  text-align: justify;
  overflow: hidden;
}

.card-title {
  max-height: 4rem;
}

.btn-MatchUp {
  background-color: #FF6702;
}

.modal-content {
  border : 4px #CA5203;
  border-style: ridge;
  border-radius: 10px;
}

.modal-header {
  background: linear-gradient(#00426b 85%,#006DB2 100%);
  border: none;
}

.modal-title {
  color: white;
  font-size: 1.5rem;
}

.modal-body {
  background-color: #006DB2;
}

.img-thumbnail {
  max-height: 7rem;
}

.nestedModal img {
  height: 40rem;
  object-fit: cover;
}

.modal-footer {
  background: linear-gradient(#006DB2 0%,#00426b 15%);
  border: none;
}

#socialNetworks i {
  margin: 0.5rem;
}

#ourPartners img {
  max-height: 4.5rem;
  max-width: 6rem;
  margin: 0.5rem;
}
